/* Elements of the web page, that are not containers. */
#brand_icon_link {
    display: inline-block;
    //float: left;
    min-width: 55px;
    min-height: 100%;
}
#brand_icon {
    height: 75%;
}
#sposo_ad_placeholder {
    @extend .flex-fill;
    margin-right: 5px;
    padding-left: 5px;
    background-color: aqua;
    width: auto;
    min-height: 100%;
}
#user_menu_icon_div {
    margin-left: auto; // place right-side
    display: flex;
}
#user_logo_link {
    display: inline-block;
}
#user_logo_img {
    background-repeat: no-repeat;
    max-width: 28px;
    max-height: 28px;
    padding: 3px 5px 3px 3px;
}
#left_details_aside {
    //padding: 10px 5px 5px 10px;
}
#main_panel {
    height: 100%;
}
.user-menu-active {
    background-color: palegoldenrod;
}
.user-menu-inactive {
    background-color: #EEEEEE;
    border: 1px;
    border-style: groove;
}
.btn {
    padding: 0;
}
.content {
    height: 100%;
}
.navbar {

}
//    #footer_menu {
//    }
//    #quick_links {
//    }
/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-up(sm){
    #brand_icon_link {
        min-width: 65px;
    }
    #user_menu_icon_div {
        min-width: 35px;
        align-items: flex-end;
    }
    #user_logo_img {
        max-height: 35px;
    }
}
/* Tablet */
@include media-breakpoint-up(md){
    #brand_icon_link {
        //padding: 10px 5px 10px 15px; // should be like .details-left!
        min-width: 100px;
    }
    #brand_icon {
        min-width: 150px;
    }
    #sposo_ad_placeholder {
        //margin-right: 45px;
        width: 100%;
    }
    #user_menu_icon_div {
        min-width: 50px;
    }
    #user_logo_link {
        //padding: 2px 3px 2px 4px;
    }
    #user_logo_img {
        max-height: 44px;
        min-width: 44px;
    }
}
/* Desktop */
@include media-breakpoint-up(lg) {
    #brand_icon_link {
        min-width: $main_col_left; // 180px
    }
    #brand_icon {
         padding: 5px 5px 5px 10px;
    }
    #sposo_ad_placeholder {
        width: $main_col_center;
        flex: initial;
    }
    #user_menu_icon_div {
        width: 55px;
    }
    #user_logo_link {
        //padding: 10px 20px 5px 15px; // simulate baseline justify
    }
    #user_logo_img {
        max-width: 45px;
        max-height: 45px;
    }
}
/* if layout changes for X-tra large screens */
//@include media-breakpoint-up(xl) {
    //
//}