/* Define styles for container elements - mobile-first (Extra small devices (portrait phones, less than 576px)) */
header {
    @extend .container-fluid, .d-flex, .flex-row;
    //align-items: center;
    //justify-content: center;
    background-color: rgb(0, 255, 204);
    height: 30px;
    padding: 2px 4px 2px 4px;
}
#left_details_panel {
    background-color: rgb(255, 204, 153);
    display: none;
}
main {
    @extend .container-fluid;
    display: flex;
    flex-direction: row;
    background-color: beige;
    top: 30px;
    padding-bottom: 32px; // place for footer
    overflow-y: auto;
    height: 100%;
}
#main_panel {
    flex: 1;
}
#right_details_panel {
    background-color: teal;
    width: auto;
    display: none;
}
footer {
    @extend .container-fluid, .d-flex, .flex-row;
    background-color: rgb(0, 51, 102);
    color: rgb(230, 230, 255);
    position: fixed;
    bottom: 0;
    height: 32px;
}
/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-up(sm){
    header {
        height: 40px;
        padding: 4px 2px 4px 6px;
    }
    main {
        flex: 1; // take all space
        top: 40px;
        bottom: 40px;
        padding: 0; // override fluid container
    }
    footer {
        height: 40px;
    }
}
/* Tablet, 768px width */
@include media-breakpoint-up(md){
    header {
        position: fixed;
        height: 55px;
        padding: 2px 2px 2px $padding_left_tab;
    }
    main {
        //position: fixed;
        top: 55px;
        bottom: 55px;
        width: 100%;
    }
    footer {
        background: light-gray;
        height: 25px;
        padding: 0;
        //padding: 20px 15px 10px 15px; // padding left should be same as main .container!
    }
}
/* Desktop */
@include media-breakpoint-up(lg) {
    header {
        height: 65px;
    }
    main {
        //position: auto;
        overflow: auto;
    }
    #left_details_panel {
        display: block;
        height: 100%;
        min-width: calc(#{$main_col_left} + #{$padding_left_tab}); // should be width of brand icon plus padding
    }
    #main_panel {
        width: $main_col_center;
        bottom: auto;
    }
    footer {
        position: relative;
        bottom: auto;
        height: auto;
        width: $main_col_center;
        margin-left: calc(#{$main_col_left} + #{$padding_left_tab});
        margin-top: auto;
        //bottom: 0; // this is the end..
    }
}
/* if layout changes for X-tra large screens */
@include media-breakpoint-up(xl) {
    #right_details_panel {
        display: block;
        flex: 1;
    }

}



