@(title: String)(userMenu: Html)(content: Html)(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned(s"images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned(s"stylesheets/main.css")">
    <script type="text/javascript" src="@routes.Assets.versioned(s"javascripts/rjs_config.js")"></script>
    <script type="text/javascript" data-main="@routes.Assets.versioned(s"javascripts/main.js")" src="@routes.Assets.versioned(s"lib/requirejs/require.js")"></script>
    </head>
    <body>
    	<header>
			<a class="icon-brand" href="@routes.HomeController.index()">
				<img id="brand-icon" src="@routes.Assets.versioned(s"images/banner.svg")"></img>
			</a>
			<div id="sposo-ad-placeholder">Some advertisment here ..</div>
			<a type="button" class="user-logo">
				<img id="user-logo-button" src="@routes.Assets.versioned("images/runner-color.svg")"></img>
			</a>
		</header>
		<main role="main">
			<div id="left_details_panel" class="details_left">
				Details here..
			</div>
			<div id="main_panel" class="container">
				@content
			</div>
			<div id="right_details_panel" class="details_right">
				@userMenu
			</div>
		</main>
		<footer class="footer">
			<div class="container" id="quickLinks">
				<a type="button">@messages("menu.quicklinks")</a>
  				<div>
  					<ul>
						<li>Suche</li>
						<li>Quiz</li>
						<li>Impressum</li>
						<li>Sitemap</li>
					</ul>
  				</div>
			</div>
		</footer>
    </body>
</html>
