@(loginForm: Form[LoginData])(implicit messages: Messages)
<div id="user_menu_div" aria-labelledby="dropdownMenuLink">
	<p>
		@helper.form(action = routes.HomeController.authenticate(), 'class->"form-inline") {
			<fieldset>
				<legend>
					@messages("menu.login.notloggedin")
				</legend>
				@helper.inputText(loginForm("loginName"),
					'_label -> messages("profile.login.form.nickname"),
					'class -> "control-label"
					)
				@helper.inputText(loginForm("loginPass"),
					'_label -> messages("profile.login.form.password"),
					'class -> "control-label")
				<input class="btn btn-primary" type="submit" value="GO!"></input>
			</fieldset>
		}
	</p>
</div>
