@(user: User, ctrl: controllers.html5controllers.HTML5ComboBoxController)(implicit messages: Messages, 
	flash: Flash)

@main("Sport Social - Test")(menu_user(user)) {
	<div>This is a test page</div>

	<select id="@ctrl.id">
		@ctrl.options.map { opt =>
			<option value="@opt.value">@opt.name</option>
		}
	</select>
	<div id="result"></div>
	<script type="text/javascript">
		var combo =	$('#@ctrl.id');
		combo.bind("change", function(event){
						$.post("@routes.TestController.post()", function(res){
							$("#result").html(res);
						});
					}
				);
	</script>
	
	<a href="@routes.TestController.searchPlayer()">All players</a>	
}


