@(user: User)(implicit messages: Messages, flash: Flash)
@main("Sport social - Settings")(menu_user(user)) {
  	<h1>User Settings</h1>
  	<ss-table id="it-1" emptyMessage="@messages(s"settings.sport.select.none_selected")">
		<!-- any slots here? -->
	</ss-table>
  	<script type="text/javascript">
  	require(['jquery','SpoSoComp'], function($, $$){
		let tt1 = $('#it-1');
		let tt1_elem = tt1.get(0);
		tt1.attr('emptyMessage','jQuery did it!');
		let tt1attr = tt1.attr('items');
	});
	</script>
}