@(user: Option[User])(implicit messages: Messages)
@user match {
    case Some(user) => {
        <a type="button" id="user_logo_link" href="@routes.HomeController.home()">
            <img id="user_logo_img" src="@routes.Assets.versioned("images/runner-color.svg")"></img>
        </a>
    }
    case None => {
        <a type="button" id="user_logo_link" href="@routes.HomeController.login()">
            <img id="user_logo_img" src="@routes.Assets.versioned("images/runner-faded.svg")"></img>
        </a>
    }
}